In [1]:
import requests
import time

In [2]:
import pandas as pd

In [3]:
!pip install requests beautifulsoup4

Requirement already satisfied: requests in c:\users\verus\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in c:\users\verus\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\verus\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\verus\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\verus\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\verus\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in c:\users\verus\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)

In [4]:
state = 'PR'
cities = ['Adjuntas', 'Aguada', 'Aguadilla', 'Aguas Buenas', 'Aibonito', 'Arecibo','Arroyo','Anasco','Barceloneta', 'Barranquitas',
          'Bayamon','Cabo Rojo','Caguas', 'Camuy', 'Canovanas','Carolina','Catano','Cayey','Ceiba','Ciales','Cidra','Coamo','Comerio','Corozal',
          'Culebra','Dorado','Fajardo','Florida','Guayama','Guayanilla','Guaynabo','Gurabo','Guanica','Hatillo','Hormigueros','Humacao','Isabela','Jayuya','Juana Diaz','Juncos',
          'Lajas','Lares','Las Marias','Las Piedras','Loiza','Luquillo','Manati','Maricao','Maunabo','Mayaguez','Moca','Morovis','Naguabo','Naranjito','Orocovis','Patillas',
          'Penuelas','Ponce','Quebradillas','Rincon','Rio Grande','Sabana Grande','Salinas','San German','San Juan','San Lorenzo','San Sebastian','Santa Isabel','Toa Alta','Toa Baja',
          'Trujillo Alto','Utuado','Vega Alta','Vega Baja','Vieques','Villalba','Yabucoa','Yauco']

In [5]:
# Initialize an empty DataFrame to store the results
nppes_pr = pd.DataFrame()

for city in cities:
    # Initialize variables for pagination
    skip = 0
    max_requests_per_city = 6

    for i in range(max_requests_per_city):
        url = f'https://npiregistry.cms.hhs.gov/api/?version=2.1&state={state}&city={city}'
        response = requests.get(url)

        # Check if the request was successful
        if response.status_code == 200:
            # Parse the response
            data = response.json()

            # Check if 'results' in data
            if 'results' in data:
                # Flatten the data and convert it to a DataFrame
                flat_data = pd.json_normalize(data['results'])

                # Append the flat data to the main DataFrame
                nppes_pr = pd.concat([nppes_pr, flat_data], ignore_index=True)

                # Update the skip value for the next request
                skip += len(data['results'])
            else:
                print(f"No results in data for city {city}")
        else:
            print(f'Request {i+1} for city {city} failed with status code {response.status_code}')

        # Pause for a bit to respect rate limits
        time.sleep(1)

# Print the DataFrame
print(nppes_pr)

      created_epoch enumeration_type last_updated_epoch      number  \
0     1250611791000            NPI-1      1380148634000  1871725341
1     1155175965000            NPI-2      1598100723000  1467462374
2     1560204551000            NPI-1      1560204551000  1003475393
3     1159912650000            NPI-1      1183947785000  1144314840
4     1172604513000            NPI-1      1604501533000  1285761452
...             ...              ...                ...         ...
4675  1185996789000            NPI-2      1185996789000  1417147729
4676  1238678453000            NPI-2      1658438063000  1336381508
4677  1173706508000            NPI-1      1183947785000  1932231339
4678  1162345581000            NPI-1      1183947785000  1558447664
4679  1307909674000            NPI-1      1307909674000  1366737926

                                              addresses  \
0     [{'country_code': 'US', 'country_name': 'Unite...
1     [{'country_code': 'US', 'country_name': 'Unite...
2     [{'country_code': 'US', 'country_name': 'Unite...
3     [{'country_code': 'US', 'country_name': 'Unite...
4     [{'country_code': 'US', 'country_name': 'Unite...
...                                                 ...
4675  [{'country_code': 'US', 'country_name': 'Unite...
4676  [{'country_code': 'US', 'country_name': 'Unite...
4677  [{'country_code': 'US', 'country_name': 'Unite...
4678  [{'country_code': 'US', 'country_name': 'Unite...
4679  [{'country_code': 'US', 'country_name': 'Unite...

                                      practiceLocations  \
0                                                    []
1                                                    []
2                                                    []
3                                                    []
4     [{'country_code': 'US', 'country_name': 'Unite...
...                                                 ...
4675                                                 []
4676                                                 []
4677                                                 []
4678                                                 []
4679                                                 []

                                             taxonomies  \
0     [{'code': '122300000X', 'taxonomy_group': '', ...
1     [{'code': '208D00000X', 'taxonomy_group': '193...
2     [{'code': '183700000X', 'taxonomy_group': '', ...
3     [{'code': '227800000X', 'taxonomy_group': '', ...
4     [{'code': '208D00000X', 'taxonomy_group': '', ...
...                                                 ...
4675  [{'code': '261QX0100X', 'taxonomy_group': '', ...
4676  [{'code': '207R00000X', 'taxonomy_group': '193...
4677  [{'code': '225X00000X', 'taxonomy_group': '', ...
4678  [{'code': '183700000X', 'taxonomy_group': '', ...
4679  [{'code': '183500000X', 'taxonomy_group': '', ...

                                            identifiers  \
0                                                    []
1     [{'code': '01', 'desc': 'Other (non-Medicare)'...
2                                                    []
3     [{'code': '01', 'desc': 'Other (non-Medicare)'...
4     [{'code': '01', 'desc': 'Other (non-Medicare)'...
...                                                 ...
4675                                                 []
4676                                                 []
4677                                                 []
4678                                                 []
4679                                                 []

                                              endpoints other_names  ...  \
0                                                    []          []  ...
1                                                    []          []  ...
2     [{'endpointType': 'DIRECT', 'endpointTypeDescr...          []  ...
3                                                    []          []  ...
4                                                    []          []  ...
...                                                 ...         ...  ...
4675                                                 []          []  ...
4676                                                 []          []  ...
4677                                                 []          []  ...
4678                                                 []          []  ...
4679                                                 []          []  ...

     basic.authorized_official_first_name basic.authorized_official_last_name  \
0                                     NaN                                 NaN
1                                 ANTONIO                              DECLET
2                                     NaN                                 NaN
3                                     NaN                                 NaN
4                                     NaN                                 NaN
...                                   ...                                 ...
4675                                 ALMA                              NIEVES
4676                                ANGEL                      RAMOS CASANOVA
4677                                  NaN                                 NaN
4678                                  NaN                                 NaN
4679                                  NaN                                 NaN

     basic.authorized_official_telephone_number  \
0                                           NaN
1                                    7878292569
2                                           NaN
3                                           NaN
4                                           NaN
...                                         ...
4675                                 7878493884
4676                                 7872671648
4677                                        NaN
4678                                        NaN
4679                                        NaN

     basic.authorized_official_title_or_position  \
0                                            NaN
1                                      PRESIDENT
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
4675                                   PRESIDENT
4676                                   President
4677                                         NaN
4678                                         NaN
4679                                         NaN

     basic.authorized_official_name_prefix  \
0                                      NaN
1                                      Dr.
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
4675                                  Mrs.
4676                                   Dr.
4677                                   NaN
4678                                   NaN
4679                                   NaN

     basic.authorized_official_name_suffix  \
0                                      NaN
1                                       --
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
4675                                    --
4676                                    --
4677                                   NaN
4678                                   NaN
4679                                   NaN

     basic.authorized_official_credential basic.certification_date  \
0                                     NaN                      NaN
1                                      MD                      NaN
2                                     NaN                      NaN
3                                     NaN                      NaN
4                                     NaN               2020-11-03
...                                   ...                      ...
4675                               MPT,PT                      NaN
4676                                 M.D.                      NaN
4677                                  NaN                      NaN
4678                                  NaN                      NaN
4679                                  NaN                      NaN

     basic.authorized_official_middle_name  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
4675                                 ORTIZ
4676                                     L
4677                                   NaN
4678                                   NaN
4679                                   NaN

     basic.parent_organization_legal_business_name
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
4675                                           NaN
4676                                           NaN
4677                                           NaN
4678                                           NaN
4679                                           NaN

[4680 rows x 33 columns]

In [50]:
nppes_pr

,created_epoch,enumeration_type,last_updated_epoch,number,addresses,practiceLocations,taxonomies,identifiers,endpoints,other_names,...,basic.authorized_official_first_name,basic.authorized_official_last_name,basic.authorized_official_telephone_number,basic.authorized_official_title_or_position,basic.authorized_official_name_prefix,basic.authorized_official_name_suffix,basic.authorized_official_credential,basic.certification_date,basic.authorized_official_middle_name,basic.parent_organization_legal_business_name
0,1250611791000,NPI-1,1380148634000,1871725341,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '122300000X', 'taxonomy_group': '', ...",[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1155175965000,NPI-2,1598100723000,1467462374,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '208D00000X', 'taxonomy_group': '193...","[{'code': '01', 'desc': 'Other (non-Medicare)'...",[],[],...,ANTONIO,DECLET,7878292569,PRESIDENT,Dr.,--,MD,NaN,NaN,NaN
2,1560204551000,NPI-1,1560204551000,1003475393,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '183700000X', 'taxonomy_group': '', ...",[],"[{'endpointType': 'DIRECT', 'endpointTypeDescr...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1159912650000,NPI-1,1183947785000,1144314840,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '227800000X', 'taxonomy_group': '', ...","[{'code': '01', 'desc': 'Other (non-Medicare)'...",[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1172604513000,NPI-1,1604501533000,1285761452,"[{'country_code': 'US', 'country_name': 'Unite...","[{'country_code': 'US', 'country_name': 'Unite...","[{'code': '208D00000X', 'taxonomy_group': '', ...","[{'code': '01', 'desc': 'Other (non-Medicare)'...",[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675,1185996789000,NPI-2,1185996789000,1417147729,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '261QX0100X', 'taxonomy_group': '', ...",[],[],[],...,ALMA,NIEVES,7878493884,PRESIDENT,Mrs.,--,"MPT,PT",NaN,ORTIZ,NaN
4676,1238678453000,NPI-2,1658438063000,1336381508,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '207R00000X', 'taxonomy_group': '193...",[],[],[],...,ANGEL,RAMOS CASANOVA,7872671648,President,Dr.,--,M.D.,NaN,L,NaN
4677,1173706508000,NPI-1,1183947785000,1932231339,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '225X00000X', 'taxonomy_group': '', ...",[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4678,1162345581000,NPI-1,1183947785000,1558447664,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '183700000X', 'taxonomy_group': '', ...",[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4679,1307909674000,NPI-1,1307909674000,1366737926,"[{'country_code': 'US', 'country_name': 'Unite...",[],"[{'code': '183500000X', 'taxonomy_group': '', ...",[],[],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Explode the 'taxonomies' column into multiple rows
exploded_taxonomy = nppes_pr.explode('taxonomies')

# Flatten the dictionaries in the 'addresses' column into separate columns
taxonomies_df = exploded_taxonomy['taxonomies'].apply(pd.Series)

# Concatenate the original DataFrame with the new 'addresses' DataFrame
nppes_pr_final = pd.concat([exploded_taxonomy.drop('taxonomies', axis=1), taxonomies_df], axis=1)

In [52]:
# Explode the 'addresses' column into multiple rows
exploded_address = nppes_pr_final.explode('addresses')

# Flatten the dictionaries in the 'addresses' column into separate columns
addresses_df = exploded_address['addresses'].apply(pd.Series)

# Concatenate the original DataFrame with the new 'addresses' DataFrame
nppes_pr_final = pd.concat([exploded_address.drop('addresses', axis=1), addresses_df], axis=1)

In [53]:
# List of columns to drop
columns_to_drop = ['created_epoch', 'country_name', 'nombre_otro', 'last_updated_epoch', 'organizational_subpart', 'authorized_official_middle_name', 'authorized_official_credential', 'authorized_official_last_name','authorized_official_first_name','authorized_official_name_prefix','authorized_official_first_name','authorized_official_telephone_number','authorized_official_title_or_position','authorized_official_name_prefix','authorized_official_name_suffix', 'practiceLocations','identifiers','endpoints']

# Check if the columns exist in the DataFrame
columns_to_drop = [col for col in columns_to_drop if col in nppes_pr_final.columns]

# Drop the columns
nppes_pr_final.drop(columns=columns_to_drop, inplace=True)

In [54]:
nppes_pr_final

,enumeration_type,number,other_names,basic.first_name,basic.last_name,basic.middle_name,basic.credential,basic.sole_proprietor,basic.gender,basic.enumeration_date,...,country_code,address_purpose,address_type,address_1,city,state,postal_code,telephone_number,fax_number,address_2
0,NPI-1,1871725341,[],DORIS,ABREU,L,DMD,YES,F,2009-08-18,...,US,MAILING,DOM,PO BOX 411,ADJUNTAS,PR,006010411,787-380-2111,NaN,NaN
0,NPI-1,1871725341,[],DORIS,ABREU,L,DMD,YES,F,2009-08-18,...,US,LOCATION,DOM,403 CALLE MUNOZ RIVERA,PENUELAS,PR,006242016,787-836-2424,NaN,NaN
1,NPI-2,1467462374,[],NaN,NaN,NaN,NaN,NaN,NaN,2006-08-09,...,US,MAILING,DOM,20 CALLE RIUS RIVERA,ADJUNTAS,PR,006012337,787-829-2569,787-829-2569,NaN
1,NPI-2,1467462374,[],NaN,NaN,NaN,NaN,NaN,NaN,2006-08-09,...,US,LOCATION,DOM,20 CALLE RIUS RIVERA,ADJUNTAS,PR,006012337,787-829-2569,787-829-2569,NaN
2,NPI-1,1003475393,[],WALESKA,ALANCASTRO,NaN,NaN,NO,F,2019-06-10,...,US,MAILING,DOM,HC 1 BOX 4022,ADJUNTAS,PR,006019570,787-549-0922,787-879-3666,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,NPI-1,1932231339,[],MARIBEL,ALBINO NIEVE,NaN,OTRL979,NO,F,2007-03-12,...,US,LOCATION,DOM,CALLE PASARELL,YAUCO,PR,00698,787-485-4557,NaN,#26
4678,NPI-1,1558447664,[],BETHZAIDA,ALICEA,NaN,NaN,NO,F,2006-10-31,...,US,MAILING,DOM,URB. VILLA MILAGROS CALLE 6 # 22,YAUCO,PR,00698,NaN,NaN,URB. VILLA MILAGROS CALLE 6 # 22
4678,NPI-1,1558447664,[],BETHZAIDA,ALICEA,NaN,NaN,NO,F,2006-10-31,...,US,LOCATION,DOM,CARR 128 KM 1.0,YAUCO,PR,00698,787-267-5424,NaN,NaN
4679,NPI-1,1366737926,[],INGRID,ALMODOVAR,MARIEL,Pharm.D,NO,F,2011-06-12,...,US,MAILING,DOM,PO BOX 143,ENSENADA,PR,006470143,787-920-9174,NaN,NaN
4679,NPI-1,1366737926,[],INGRID,ALMODOVAR,MARIEL,Pharm.D,NO,F,2011-06-12,...,US,LOCATION,DOM,643 YAUCO PLAZA II,YAUCO,PR,006984448,787-267-5727,NaN,NaN

In [55]:
nppes_pr_final.rename(columns=lambda x: x.replace('basic.', ''), inplace=True)

In [56]:
nppes_pr_final['country_code'].value_counts()

country_code
US    11784
UM       90
UG        6
Name: count, dtype: int64

In [57]:
values_to_drop = ['UG']
nppes_pr_final.drop(nppes_pr_final[nppes_pr_final['country_code'].isin(values_to_drop)].index, inplace=True)

In [58]:
nppes_pr_final.rename(columns={"number":"npi","enumeration_date":"fecha_creacion","gender":"genero","first_name":"nombre","last_name":"apellidos","middle_name":"inicial","telephone_number":"telefono","fax_number":"fax","address_type":"tipo_direccion","postal_code":"codigo_postal","state":"estado","name_suffix":"sufijo","name_prefix":"prefijo","credential":"credencial","city":"pueblo","address_1":"direccion_1","address_2":"direccion_2","primary":"taxo_primaria","license":"licencia","taxonomy_group":"taxo_grupo"}, inplace=True)

In [59]:
nppes_pr_final.rename(columns={"enumeration_type":"tipo_entidad","address_purpose":"proposito_direccion","country_code":"pais","desc":"especialidad","code":"taxo_codigo","parent_organization_legal_business_name":"grupo","certification_date":"fecha_certificacion","organization_name":"organizacion","last_updated":"actualizacion","sole_proprietor":"propietario"}, inplace=True)

In [60]:
nppes_pr_final['source_id'] = '005'

In [71]:
nppes_pr_final[['especialidad', 'especialidad_2']] = nppes_pr_final['especialidad'].str.split(',', n=1, expand=True)

In [72]:
nppes_pr_final['especialidad_2'] = nppes_pr_final['especialidad_2'].str.strip()

In [73]:
columns = ['tipo_entidad','npi', 'prefijo', 'nombre', 'inicial', 'apellidos', 'sufijo','genero','credencial','licencia','fecha_certificacion','propietario','taxo_codigo','taxo_primaria', 'especialidad', 'especialidad_2','telefono', 'fax','proposito_direccion', 'tipo_direccion','direccion_1','direccion_2','pueblo','estado','pais','codigo_postal','organizacion','organizational_subpart','grupo','taxo_grupo','status','fecha_creacion','actualizacion','source_id']
nppes_pr_final = nppes_pr_final[columns]

In [62]:
nppes_pr_final

,tipo_entidad,npi,prefijo,nombre,inicial,apellidos,sufijo,genero,credencial,licencia,...,pais,codigo_postal,organizacion,organizational_subpart,grupo,taxo_grupo,status,fecha_creacion,actualizacion,source_id
0,NPI-1,1871725341,Dr.,DORIS,L,ABREU,--,F,DMD,2833,...,US,006010411,NaN,NaN,NaN,,A,2009-08-18,2013-09-25,005
0,NPI-1,1871725341,Dr.,DORIS,L,ABREU,--,F,DMD,2833,...,US,006242016,NaN,NaN,NaN,,A,2009-08-18,2013-09-25,005
1,NPI-2,1467462374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,US,006012337,AJ HEALTH MANAGEMENT CORP,NO,NaN,193200000X - Multi-Specialty Group,A,2006-08-09,2020-08-22,005
1,NPI-2,1467462374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,...,US,006012337,AJ HEALTH MANAGEMENT CORP,NO,NaN,193200000X - Multi-Specialty Group,A,2006-08-09,2020-08-22,005
2,NPI-1,1003475393,Mrs.,WALESKA,NaN,ALANCASTRO,NaN,F,NaN,3197,...,US,006019570,NaN,NaN,NaN,,A,2019-06-10,2019-06-10,005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,NPI-1,1932231339,Mrs.,MARIBEL,NaN,ALBINO NIEVE,--,F,OTRL979,979OTRL,...,US,00698,NaN,NaN,NaN,,A,2007-03-12,2007-07-08,005
4678,NPI-1,1558447664,Miss,BETHZAIDA,NaN,ALICEA,--,F,NaN,005445,...,US,00698,NaN,NaN,NaN,,A,2006-10-31,2007-07-08,005
4678,NPI-1,1558447664,Miss,BETHZAIDA,NaN,ALICEA,--,F,NaN,005445,...,US,00698,NaN,NaN,NaN,,A,2006-10-31,2007-07-08,005
4679,NPI-1,1366737926,Miss,INGRID,MARIEL,ALMODOVAR,--,F,Pharm.D,5486,...,US,006470143,NaN,NaN,NaN,,A,2011-06-12,2011-06-12,005
4679,NPI-1,1366737926,Miss,INGRID,MARIEL,ALMODOVAR,--,F,Pharm.D,5486,...,US,006984448,NaN,NaN,NaN,,A,2011-06-12,2011-06-12,005

In [74]:
nppes_pr_final = nppes_pr_final.replace('--', '').replace('NaN','').replace('nan','')

In [75]:
nppes_pr_final['apellidos'] = nppes_pr_final['apellidos'].str.replace('-',' ')

In [76]:
def add_dash(codigo_postal):
    if len(codigo_postal) > 5:
        return codigo_postal[:5] + '-' + codigo_postal[5:]
    else:
        return codigo_postal

nppes_pr_final['codigo_postal'] = nppes_pr_final['codigo_postal'].apply(add_dash)

In [77]:
nppes_pr_final = nppes_pr_final.loc[:,~nppes_pr_final.columns.duplicated()]

In [78]:
nppes_pr_final

,tipo_entidad,npi,prefijo,nombre,inicial,apellidos,sufijo,genero,credencial,licencia,...,pais,codigo_postal,organizacion,organizational_subpart,grupo,taxo_grupo,status,fecha_creacion,actualizacion,source_id
0,NPI-1,1871725341,Dr.,DORIS,L,ABREU,,F,DMD,2833,...,US,00601--0411,,,,,A,2009-08-18,2013-09-25,005
0,NPI-1,1871725341,Dr.,DORIS,L,ABREU,,F,DMD,2833,...,US,00624--2016,,,,,A,2009-08-18,2013-09-25,005
1,NPI-2,1467462374,,,,,,,,None,...,US,00601--2337,AJ HEALTH MANAGEMENT CORP,NO,,193200000X - Multi-Specialty Group,A,2006-08-09,2020-08-22,005
1,NPI-2,1467462374,,,,,,,,None,...,US,00601--2337,AJ HEALTH MANAGEMENT CORP,NO,,193200000X - Multi-Specialty Group,A,2006-08-09,2020-08-22,005
2,NPI-1,1003475393,Mrs.,WALESKA,,ALANCASTRO,,F,,3197,...,US,00601--9570,,,,,A,2019-06-10,2019-06-10,005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4677,NPI-1,1932231339,Mrs.,MARIBEL,,ALBINO NIEVE,,F,OTRL979,979OTRL,...,US,00698,,,,,A,2007-03-12,2007-07-08,005
4678,NPI-1,1558447664,Miss,BETHZAIDA,,ALICEA,,F,,005445,...,US,00698,,,,,A,2006-10-31,2007-07-08,005
4678,NPI-1,1558447664,Miss,BETHZAIDA,,ALICEA,,F,,005445,...,US,00698,,,,,A,2006-10-31,2007-07-08,005
4679,NPI-1,1366737926,Miss,INGRID,MARIEL,ALMODOVAR,,F,Pharm.D,5486,...,US,00647--0143,,,,,A,2011-06-12,2011-06-12,005
4679,NPI-1,1366737926,Miss,INGRID,MARIEL,ALMODOVAR,,F,Pharm.D,5486,...,US,00698--4448,,,,,A,2011-06-12,2011-06-12,005

In [79]:
for col in nppes_pr_final.select_dtypes(include=['object']).columns:
    nppes_pr_final[col] = nppes_pr_final[col].astype(str)

In [24]:
!pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in c:\users\verus\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pandas in c:\users\verus\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\verus\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\verus\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\verus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\verus\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\verus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\verus\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\verus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [27]:
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [80]:
bd = "central_provider"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/central_provider)

In [82]:
nppes_pr_final.to_sql('nppes_pr', con=engine.connect(),if_exists='replace',index=False)

11868